* {
  margin: 0;
}
.header1 {
  font-weight: bold;
  padding: 10px;
  font-size: 15px;
  margin: 0;
  background-color: brown;
  color: white;
}
.head1 {
  padding-left: 15px;
}
.head1 ul li {
  list-style: none;
  display: inline-block;
  margin-right: 15px;
}
.pad {
  padding-left: 450px;
}
.pad a {
  color: white;
  text-decoration: none;
}

.iced {
  background: black;
  border-radius: 50%;
  padding: 5px;
}
.iced1 {
  color: white;
}
.pos {
  position: relative;
}

.header2 {
  font-weight: bold;
  padding: 10px;
  font-size: 15px;
  margin: 0;
  background-color: white;
  height: 50px;
  width: 100%;
  z-index: 1;
}
.head2 {
  padding-left: 15px;
}

.head2 img {
  padding: 0 30px 0 50px;
}
.head2 ul {
  padding-top: 20px;
}
.head2 ul li {
  list-style: none;
  display: inline-block;
  margin-right: 15px;
  padding-right: 5px;
}

.head2 ul li:hover {
  background: brown;
  color: white;
  padding: 10px 2px;
  border-radius: 5px;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0px;
  display: inline-block;
  padding: 3px;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.search {
  float: right;
  z-index: 2;
  position: absolute;
  right: 50px;
  top: 0;
  display: none;
}

.search input {
  padding: 10px 0px 10px 0px;
}
.positioner {
  position: relative;
}

.images {
  position: relative;
}
.img1 {
  width: 100%;
}

.black-div {
  background: rgb(63, 60, 60);
  position: absolute;
  color: white;
  right: 10%;
  left: 10%;
  height: 400px;
  display: none;
  z-index: 2;
}
.admission {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.sub-admission {
  display: grid;
  grid-template-rows: 1fr 10fr;
}

.sub-admission p {
  display: inline;
}
.pad2 {
  padding-right: 400px;
}

.sub-sub-admission {
  display: grid;
  grid-template-columns: 4fr 4fr 4fr;
}

.academics {
  text-align: left;
  padding: 10px 50px 0px 10px;
}

.academics h2 {
  color: orange;
}
.academics p {
  padding: 15px 0px 60px 0px;
}
.academics button {
  padding: 5px 10px;
  background-color: brown;
}

.academics button a {
  color: white;
  text-decoration: none;
}

.sub-sub-admission div ul li{
  list-style: none;
  
}

.sub-sub-admission div ul li a{
  color: white;
  text-decoration: none;
}
